#glass {
  /*background-color: rgba(255,255,255,0.1) !important; #303950*/
  background-color: rgba(48,57,80,0.92) !important;
  backdrop-filter: blur(6px) !important;
  border: 1px solid #FFF !important;
  background-clip: padding-box !important;
  box-shadow: 10px 10px 10px rgba(45,55,68,0.0.3) !important;
  line-height: 1.5 !important;
}

.cardAnimation {
animation: appear 500ms ease-out forwards
}

@keyframes appear {
  10% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

div.MuiPaper-root > section {
  background: none !important;
}