/*div.map {
    position: relative;
    height: 100% !important;
}

.map > div > svg {
    height: 500px !important;
    margin-top: 3% !important;;
}

.stats {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.mapChart {
    position: relative;
    margin: 2% !important;
}*/

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.HdrWeak {
    margin-left: 10px;
    color: red;
}

.Desintegrer {
    margin-left: 10px !important;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    display: none;
}

/*#Desintegrer_ {
    display: none;
}*/

polyline {
    fill-opacity: 0 !important;
    stroke-opacity: 0.2 !important;
    /*stroke: rgb(0, 0, 0);*/
    stroke-width: 0.06 !important;
}

.mt-1 {
    padding-top: 2.5px !important;
    padding-left: 10px !important;
    color: floralwhite !important;
}

#chartdiv {
width: 100%;
height: 500px;
}