<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Node App</title>
</head>

<body>
  <h1>My Node App</h1>
  <h4>Mensajes:</h4>
  <table>
    <tr>
      <td>name</td>
      <td>location</td>
      <td>age</td>
      <td>infectedtype</td>
      <td>state</td>
      <td>way</td>
    </tr>
    <% items.forEach(function(item) { %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.location %></td>
        <td><%= item.age %></td>
        <td><%= item.infectedtype %></td>
        <td><%= item.state %></td>
        <td><%= item.way %></td>
      </tr>
      <% }); %>
    </table>
</body>

</html>